<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>

    <title>ЖК "Город"</title>
</head>
<body>

<div class="list-group menu-box" >
    <a href="#" class="list-group-item list-group-item-action active">
        Тестовая навигация
    </a>
    <a href="/showHouse/3" class="list-group-item list-group-item-action">Регистрация</a>
    <a href="/login" class="list-group-item list-group-item-action">Вход</a>
    <a href="/admin/showHouse/3" class="list-group-item list-group-item-action">Админ - дом1</a>

</div>

</body>
</html>