<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/main.js}" type="text/javascript"></script>
    <title>Личный кабинет</title>


</head>
<body>
<p></p>
<h1 align="center"> Добро пожаловать в личный кабинет </h1>
<p></p>

<table class="table"  >
    <tr>
        <td align="center" class="btn-primary" colspan="8">ФИО :</td>
    <tr>
            <td>Фамилия:</td>
            <td th:text="${contact.getLastName()}">...</td>
        </tr>
        <tr>
            <td>Имя:</td>
            <td th:text="${contact.getFirstName()}">...</td>
        </tr>
        <tr>
            <td>Отчество:</td>
            <td th:text="${contact.getMiddleName()}">...</td>
        </tr>
        <tr>
            <td>Вы являетесь:</td>
            <td th:text="${contact.getContactType().getDescription()}">...</td>
        </tr>
        <tr>
            <td align="center" class="btn-primary" colspan="5">Контакты :</td>
        </tr>
        <tr th:each="communication : ${communications}" >
            <td th:text="${communication.getCommunicationType().getDescription()}">...</td>
            <td th:text="${communication.getIdentify()}">...</td>
        </tr>

            <td align="center" class="btn-primary" colspan="8">Объекты :</td>
        <tr th:each="ownership , iter : ${ownerships}" >
            <td th:utext="${iter.index + 1 } + '.'">...</td>
            <td >Тип:</td>
            <td th:text="${ownership.getOwnershipType()}">...</td>
            <td th:if="${ownership.is_build_num()}">
                <td > Строительный номер дома: </td>
                <td th:text="${ownership.getHouseBuildNum()}">...</td>
                <td > Строительный номер объекта: </td>
                <td th:text="${ownership.getBuildNumber()}">...</td>
            </td>
            <td th:unless="${ownership.is_build_num()}">
                <td > Номер дома: </td>
                <td th:text="${ownership.getHouseNum()}">...</td>
                <td > Номер объекта: </td>
                <td th:text="${ownership.getNumber()}">...</td>
            </td>
            <td >Доля владения:</td>
            <td th:text="${ownership.getPercentageOfOwner()}">...%</td>
        </tr>

        <tr>
            <td align="center" class="btn-primary" colspan="8">Квартиры :</td>
        </tr>
        <tr th:each="flat , iter : ${flats}" >
            <td th:utext="${iter.index + 1 } + '.'">...</td>
            <td >Номер Дома : </td>
            <td th:text="${flat.getHouseBuild()}">...</td>
            <td >Номер квартиры :</td>
            <td th:text="${flat.getFlatNumber()}">...</td>
        </tr>

    </table>
<p></p>
<p></p>
<a type="button" class="btn btn-primary btn-sm btn-block" th:href="@{/lk/questionnaire-answer-result}">Показать результаты ваших голосования</a>

<p></p>
<a href="/">Вернуться на главную</a>


</body>
</html>